{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}'" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/btn_style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <script src="/static/js/Assignment.js"></script>
    <title>Home</title>

</head>

<body >
    <div class="AssignmentHolder">
        <br>
        <h1>Assignments</h1>
        <br>
        {% for Assignment in Assignments %}
        <div class="Assignment">
            <p class="nameOfAssignment">{{ Assignment["name"] }}</p>
            {% if Assignment["AlreadyDid"] == "True" %}
            <div class="AlreadyDid"></div>
            {% endif %}
            {% if navbar_data[0]["role"] == "Student" %}
            <button type="button" class="AssignmentButton neon-button-Assignment" id="{{ Assignment["tableName"] }}" onclick="GoToAssignment(this.id)">Test Me</button>
            {% else %}
            <button type="button" class="AssignmentButton neon-button-Assignment" id="{{ Assignment["tableName"] }}" onclick="GoToProgress(this.id)">Show Progress</button>
            {% endif %}
        </div>
        <br>
        {% endfor  %}
    </div>
</body>

{% endblock %}