{% extends "base.html" %} {% block title %}Verify{% endblock %} {% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/btn_style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <script src="/static/js/TestMe.js"></script>
    <title>{{ username }}</title>
</head>

<body >
</body>


<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img others-profile-account-img" src="{{ image_file }}">
        <div class="media-body others-profile-media-body">
            <h2 class="account-heading others-profile-username-text">{{ username }}</h2>
            <p class="text-secondary others-profile-email-text">{{ email }}</p>
            <p class="text-secondary others-profile-grade-text">{{ grade }}</p>
            <p class="text-secondary others-profile-role-text">{{ role }}</p>
            <p class="text-secondary others-profile-groupNumber-text">{{ groupNumber }}</p>
        </div>
    </div>
    <br />
    
</div>
{% endblock %}