{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}'" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/btn_style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <script src="/static/js/Assignment.js"></script>
    <title>Progress</title>

</head>

<div class="container-table100">
  <h1>Assignment {{ Assignment }}</h1>
  <br>
    <div class="wrap-table100">
        
      <div class="table100">
        <table>
          <tbody>
            <table>
              {% for username in usersUsername %}
              <table>
                <tr id="{{ username }}" class="row" onclick="showRows(this.id)">
                  <td class="column1">{{ username }}</td>
                </tr>
                
                  <table style="left: 0px;">
                    {%for Student in usersScore %}
                      {% if Student["username"] == username %}
                        {% if Student["AlreadyDid"] == "True" %}
                          {% if Student["usersTries"] == 1 %}
                          <tr class="table100-head {{ username }}2 seconderyTable">
                            <th class="column2">Correct Vokabularies</th>
                            <th class="column3">Attempt</th>
                          </tr>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {%for Student in usersScore %}
                    {% if Student["username"] == username %}
                    {% if Student["AlreadyDid"] == "True" %}
                      <tr class="{{ Student["username"] }}2 seconderyTable">
                        <td class="column2">{{ Student["usersCorrectVokabularies"] }}/{{ Student["NumberOfvokabularies"] }}</td>
                        <td class="column3">{{ Student["usersTries"] }}</td>

                      </tr>
                    {% else %}
                      <tr class="{{ Student["username"] }}2 seconderyTable">
                        <td class="column2">The Student did not do the Assignment</td>
                      </tr>
                    {% endif %}
                    {% endif %}
                  {% endfor %}
                </table>
                
              </table>
              {% endfor %}
            </table>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>

{% endblock %}