@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');



.email-text {
  color: rgb(105, 255, 230);
  margin-left: 30px;
}

.username-text {
  margin-top: 20px;
  margin-left: 30px;
}



.lang1{
  width: 45%;
  margin: 4px 2px;
  box-sizing: border-box;
}

.lang2{
  
  width: 45%;
  margin: 4px 2px;
  box-sizing: border-box;
}

.test-me-input1{
  width: 45%;
  margin: 4px 2px;
  box-sizing: border-box;
  margin-left: 5%;
}

.test-me-input2{
  width: 45%;
  margin: 4px 2px;
  box-sizing: border-box;
}




* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.sglspread {

    margin:0 auto;
    overflow:hidden;
}
.text-holder {
    width:50%;
}

.left {
    float:left;

}

.right {
    float: right;
}
.pg1-2-txt {
    width:80%;
    text-align: center;


    padding:1em;
    font-size: larger;

}

.TestMeLanguage{
    width:100%;
    text-align: center;


    padding:1em;
    font-size: larger;
}

#close_button1_span{
    color: white;
    font-size: 1.3vw;
}


.Assignment{
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 10em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

h1, h3{
    text-align: center;

}

.nameOfAssignment{
    padding: 20px 0;
}

.AssignmentButton{
    position: relative;
    float: right;
    margin-top: -5.5rem;
}

.wrong, select, textarea{
    background: red;
    color: white;
}

.correct, select, textarea{
    background: green;
    color: white;
}

.AlreadyDid::after{
    content: "\2713";
    height: 30px;
    width: 30px;
    position: absolute;
    left: 95%;
    top: -15px;
    font-size: 30px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    
   
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
    margin-top: 0%;
  }
  .wrap-table100 {
    width: 100%;
  }
  
  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  table * {
    position: relative;
  }
  table thead tr {
    height: 60px;
    background: #36304a;
  }
  table tbody tr {
    height: 50px;
  }
  table tbody tr:last-child {
    border: 0;
  }
 
  table td.l,
  table th.l {
    text-align: center;
  }
  table td.c,
  table th.c {
    text-align: center;
  }
  table td.r,
  table th.r {
    text-align: center;
  }
 
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }

 
  .row:hover {
    background-color: #ad2358;
    cursor: pointer;
    color: white;
  }
  .row{
    border-spacing: 1;
    border-collapse: collapse;
    background: #fc68a1;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    color: white;
    padding: 13px 0;
   
  }
  .seconderyTable
  {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    text-align: center;
  }
  .row::after{
    content: attr(data-after);
    position: absolute;
    top: 15px;
    left: 5px;
    width: 100px;
    height: 100px;
  }
  .column1 {
    width: 160px;
    text-align: center;
  }
  .column2 {
    width: 160px;
    
  }
  .column3 {
    width: 245px;
    text-align: center;
  }
  .column4 {
    width: 170px;
    text-align: center;
  }

  
  @media (max-width: 576px) {
    .container-table100 {
      padding-left: 15px;
      padding-right: 15px;
    } 

    .account-img{
      width: 150px;
      height: 150px;
    }

    .media{
      margin-top: 30%;
      align-items:center;
      display: block;
    }
    .others-profile-username-text{
      width: 100%;
      position: relative;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin-top: 0;
    }
    .others-profile-email-text {
      width: 100%;
      position: relative;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .others-profile-grade-text {
      width: 100%;
      position: relative;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .others-profile-role-text {
      width: 100%;
      position: relative;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .others-profile-groupNumber-text {
      width: 100%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    
    .others-profile-account-img{
      width: 40%;
      height: 40%;
      position: relative;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .media-body h2{
      font-size: 20px;
    }

    .media-body p{
      font-size: 10px;
    }

    .email-text{
      font-size: 10px;
    }
  }

  .container{
      width: 100%;
  }

  @media (min-width: 576px) {
    .container-table100 {
      padding-left: 15px;
      padding-right: 15px;
    } 

    .account-img{
      width: 250px;
      height: 250px;
      top: 20%;
    }

    .media-body h2{
      font-size: 40px;
    }

    .media-body p{
      font-size: 20px;
    }

    .email-text{
      font-size: 20px;
    }

    .others-profile-account-img{
      margin-right: 5%;
    }
  }

  .container{
      width: 100%;
  }

 
  